    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    body {
        background: #f0f2f5;
    }

    /* Header */
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        padding: 15px 20px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        z-index: 100;
    }

    .header h2 {
        color: #1877f2;
    }

    .header input {
        padding: 8px 12px;
        width: 200px;
        border-radius: 20px;
        border: 1px solid #ccc;
        outline: none;
        transition: 0.3s;
    }

    .header input:focus {
        border-color: #1877f2;
    }
    .header button{
       background-color: #1877f2;
        color: white ;
        border-radius: 20px;
        border: none;
        padding: 5px 20px;
       
    }

    /* Main container */
    .container {
        padding: 90px 20px 20px;
        max-width: 600px;
        margin: auto;
    }
     #postBtn{
         background-color: #1877f2;
         color: white;
        margin-bottom: 20px;
         justify-content: center;
         align-items: center;
         border: none;
         border-radius: 20px;
         padding: 5px 15px;
    }

    /* Stories */
    .stories {
        display: flex;
        overflow-x: auto;
        padding-bottom: 10px;
        margin-bottom: 20px;
        gap: 10px;
    }

    .story {
        min-width: 80px;
        height: 120px;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.1);
        padding: 10px;
        text-align: center;
        flex-shrink: 0;
    }

    .story img {
        width: 100%;
        height: 80px;
        border-radius: 10px;
        object-fit: cover;
    }

    .story p {
        font-size: 12px;
        margin-top: 5px;
    }
   
    #userPost {
        display: none;
    }
    /* Post */
    .post-card {
        background: #fff;
        border-radius: 15px;
        padding: 15px;
        margin-bottom: 20px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    }

    .post-header {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }


    .post-header img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .post-name {
        font-weight: 600;
    }

    .post-time {
        font-size: 12px;
        color: gray;
    }

    .post-img {
        width: 100%;
        border-radius: 15px;
        margin: 10px 0;
    }

    .post-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 14px;
    }

    .btn {
        cursor: pointer;
        color: #444;
        transition: 0.2s;
    }

    .btn:hover {
        color: #1877f2;
    }
    .delete-btn{
        background-color: #1877f2;
        color: #ccc;
        border-radius: 20px;
        border: none;
        padding: 5px 15px;
        
    }
    #EditBtn{
         background-color: #1877f2;
        color: #ccc;
        border-radius: 20px;
        border: none;
        padding: 5px 15px; 
    }